
@media screen and (min-width: 800px) {
 .pt-24{
    padding-top: 24px;
  }
}

@media screen and (min-width: 800px) {
  .pt-30{
     padding-top: 30px;
   }
 }

 .repararVenda {
   float: left;
   padding-right: 100px;
 }

